
# Environment variables added by Recon 2.0
HARDCODED_EMAIL_CREDENTIAL_(USERNAME)=your_value_here
HARDCODED_EMAIL_CREDENTIAL_(PASSWORD)=your_value_here
HARDCODED_MNEMONIC_SEED_PHRASE=your_value_here
HARDCODED_INFURA_API_KEY=your_value_here
HARDCODED_MONGODB_CONNECTION_STRING=your_value_here
HARDCODED_ETHEREUM_CONTRACT_ADDRESS=your_value_here
HARDCODED_INFURA_API_KEY=your_value_here
