
# Environment variables added by Recon 2.0
HARDCODED_DATABASE_CONNECTION_STRING=your_value_here
HARDCODED_EMAIL_CREDENTIALS=your_value_here
HARDCODED_MNEMONIC_SEED_PHRASE=your_value_here
HARDCODED_INFURA_API_KEY=your_value_here
HARDCODED_INFURA_API_KEY=your_value_here
